{% extends 'catalog/home.html'%}
{% block content %}
<div class="row text-center">
    <h1>Главная страница</h1>
    <h2>Категории товаров</h2>
    {% for category in object_list %}
        <div class="col-4 mt-5">
            <div class="card" style="text-align:center;">
                <div class="card-header">
                    {{ category.name}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Категория товаров</h5>
                    <p class="card-text">{{ category.description }}</p>
                    <a href="{% url 'catalog:product_list' category.name %}" class="btn btn-primary">Перейти к товарам</a>
                    <a href="{% url 'catalog:product_list' %}" class="btn btn-secondary">Вывести все товары магазина</a>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}